<%= render 'new', book: @book %>
  <%= image_tag @book.get_image %>
  <p><%= image_tag 'sample-author1.jpg' %></p>
  <p><%= @book.user.name %></p>
  <p>Title<%= @book.title %></p>
  <p>Opinion<%= @book.body %></p>
</div>